name: CI

on:
  push:
    branches: [ "master" ]

  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, 'SKIP')"

    steps:
      - uses: actions/checkout@v2
          
      - name: Making ZIP
        run: 7z a -m0=Copy -tzip voxels_blood_p${{ github.run_number }}.zip blood.def bloodgdx.def blood-raze.def blood_voxels.def blood_voxels_extra.def license.txt readme.txt MODELS.INI MHK KVX DEF
      
      - name: Generating RS files
        run: |
            cd RS
            powershell .\def.ps1
            powershell .\maphacks.ps1
            powershell .\voxels.ps1
          
      - name: Making RS ZIP
        run: 7z a -m0=Copy -tzip voxels_refreshed_p${{ github.run_number }}.kpf ./RS/defs ./RS/KVX license.txt readme.txt
      
      - name: Replacing version in addon.json
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'addon*.json'
          search-text: '$version'
          replacement-text: 'p${{ github.run_number }}'
          
      - name: Making BuildLauncher ZIP
        run: 7z a -m0=Copy -tzip blood-voxel-pack_p${{ github.run_number }}.zip blood_voxels.def blood_voxels_extra.def addon.json addon_extra.json preview.png license.txt readme.txt MHK KVX DEF
          
      - name: Deleting older releases
        uses: nikhilbadyal/ghaction-rm-releases@v0.0.5
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_PATTERN: 'preview_*'
          
      - name: Creating new release
        uses: ncipollo/release-action@v1
        with:
          artifacts: |
            voxels_blood_p${{ github.run_number }}.zip
            voxels_refreshed_p${{ github.run_number }}.kpf
            blood-voxel-pack_p${{ github.run_number }}.zip
          name: preview_${{ github.run_number }}
          tag: preview_${{ github.run_number }}
          prerelease: true
          body: |
            This is a pre-release version of the Blood Voxel Pack that includes all the latest additions and changes
            Use `voxels_blood_p${{ github.run_number }}.zip` for BloodGDX, NBlood, and Raze,
            `voxels_refreshed_p${{ github.run_number }}.kpf` for Refreshed Supply,
            or `blood-voxel-pack_p${{ github.run_number }}.zip` for [BuildLauncher](https://github.com/fgsfds/BuildLauncher)
            
